@import "tailwindcss";

/* Reset + full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes drift-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 800px 800px; /* move down-right */
  }
}

/* Background + SVG pattern */
body {
  background-color: #b3b3b3;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(6) rotate(100)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(47,87.2%,66.3%,1)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linejoin='round' stroke-linecap='round' stroke-width='6' stroke='hsla(28,82.7%,61.4%,1)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linejoin='round' stroke-linecap='round' stroke-width='6' stroke='hsla(10,94.1%,59.8%,1)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linejoin='round' stroke-linecap='round' stroke-width='6' stroke='hsla(48,82.8%,88.6%,1)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linejoin='round' stroke-linecap='round' stroke-width='6' stroke='hsla(209,77.4%,22.5%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-660,-348)' fill='url(%23a)'/></svg>");
  background-repeat: repeat;
  background-attachment: fixed;
  /* animation: drift-bg 60s linear infinite; */
}

/* Root container centers the paper column */
#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

@font-face {
  font-family: 'SuperTrend';
  src: url('../assets/fonts/SuperTrend.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'SuperTrend', sans-serif;
  }
}


/*

yurilat3_db_user
gjDfOqkKzhFfy7CY

kJ0jSdlAkb49FnYQ

mongodb+srv://yurilat3_db_user:kJ0jSdlAkb49FnYQ@chamchamchamcluster.jealu82.mongodb.net/?appName=ChamChamChamCluster
*/
